version: "3.9"

services:
  api:
    build: .
    container_name: payping-api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  celery-worker:
    build: .
    container_name: payping-celery
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  flower:
    build: .
    container_name: payping-flower
    command: celery -A app.celery_app.celery_app flower --port=5555
    ports:
      - "5555:5555"
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: payping-redis
    ports:
      - "6379:6379"
    restart: unless-stopped


